body{
    text-align: center;
    color:beige;
    background-image:linear-gradient( 
/*        rgb(159, 207, 191)50%,rgb(240,255,240)80%,#FFCC00 90%  */
        #99CCCD 50%,rgb(240,255,240)80%,#FFCC00 90%
    ) ;
  
    background-repeat: no-repeat;
    background-size: 1000px 650px;
    background-posirion:center;
    /* background-position: center top 15px; */
    /* background-color: rgb(159, 207, 191);  */
    font-family: Helvetica, Arial, sans-serif;
    overflow:hidden;
}

button{
    border:0;
   /* border-radius:5px;
    background: #FFCC00;
    color:beige;
    padding: 2px 5px;
    font-size: 32px;*/
}
